@use '_variables';

body {
  margin: 0;
  font-family: $font-stack;
  color: $black;

  background:
  linear-gradient(to right, $almost-black 0 33.33vw, transparent 33.33vw) no-repeat,
  url("../assets/img/gallery-main.png") no-repeat;

  background-size: 100% 800px, 540px 800px;
  background-position: 0 42px, 33.33vw 42px;
  background-color: $white;

}
main {
  max-width: 1110px;
  margin: auto;

}

.hero {
  padding-top: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 612px;
  
}
  
.hero-title {
  color: $white;
  display: flex;


  
  h1 {
    margin: 0;
    font-family: $font-headings;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
  }
}

.hero-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {

    margin: 0;
    max-width: 350px;
    color: $dark-grey;
    font-family: $font-paragraph;
    font-style: normal;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 4rem;

  }

  a.location-btn {
    display: flex;
    align-items: center;
    border: none;
    flex-direction: row;
    height: 72px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0;
    transition: background 0.2s;
    padding: 0;
    background: $black;
    font-family: $font-headings;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 3.64px;
    text-decoration: none;
    div.text {
      color: $white;
      padding: 0 1.5rem;
    }

    div.arrow {
      display: flex;
      background: $gold;
      color: $white;
      align-items: center;
      justify-content: center;   
      height: 100%;
      width: 56px;
    }

    &:hover, &:focus {
      background: $gold;
      outline: 1px solid $black;
      color: $black;
      div.arrow {
        background: $black;
        color: $gold;
      }
    }
  }
}

section.visit-gallery {
  display: flex;
  flex-direction: column;
  padding-top: 139px;
  gap: 30px;

  div.your-day{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    div.text {
      max-width: 350px;
      display: flex;
      flex-direction: column;
      h2{
        font-family: $font-headings;
        font-size: 60px;
        color: $black;
        font-weight: 900;
        line-height: 60px;
  
      }
      p {
        font-size: 22px;
        color: $dark-grey;
        font-weight: 300;
        line-height: 32px;
      }

    }
    img {
      width: 635px;
      height: 400px;
    }
  }

  div.inspire {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  img {
    width: 635px;
    height: 720px;
  }
  div.come-inspire {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: $white;
    img {
      width: 445px;
      height: 313px;
    }
    div.text {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 64px 48px;
      background-color: $black;
      h2 {
          margin: 0;
          font-family: $font-headings;
          font-size: 60px;
          font-weight: 900;
          line-height: 60px;
      }
      p {
        margin: 0;
        font-family: $font-paragraph;
        font-size: 22px;
        font-weight: 300;
        line-height: 32px;
      }

    }
  }
}

footer {
  margin-top: 180px;
  padding: 80px 165px;
  background-color: $almost-black;
  div.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    max-width: 1110px;
    margin: auto;
    p {
        margin: 0;
        font-family: $font-paragraph;
        color: $white;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        max-width: 430px;
    }
    div.social {
      display: flex;
      align-items: start;
      gap: 20px;
    }

  }
}




@media (max-width: 900px) {
  header {
    width: 100vw;
    height: 20vh;
    position: static;
    h1 {
      margin-left: 2vw;
      font-size: 2.5rem;
    }
  }
  main {
    flex-direction: column;
    margin-left: 0;
    align-items: stretch;
  }
  .gallery-image, .gallery-info {
    flex: none;
    padding: 2rem 0;
    align-items: center;
    text-align: center;
  }
  .gallery-info {
    padding-left: 0;
    p {
      margin: 0 auto 2rem auto;
    }
  }
}
