$font-stack: 'Montserrat', Arial, sans-serif;
$font-paragraph: 'Outfit';
$font-headings: 'Big Shoulders';
$almost-black: #151515;
$black: black;
$dark-grey: #444444;
$white: #fff;
$gold: #D5966C;

body {
  margin: 0;
  font-family: $font-stack;
  color: $black;

  background:
  linear-gradient(to right, $almost-black 0 33.33vw, transparent 33.33vw) no-repeat,
  // linear-gradient(to right, $almost-black 0 100%) no-repeat,
  url("../assets/gallery-main.png") no-repeat;

  background-size: 100% 800px, 540px 800px;
  background-position: 0 42px, 33.33vw 42px;

}

main {
  max-width: 1110px;
  margin: auto;
}

.hero {
  margin-top: 230px;
  display: flex;
  flex-direction: row;
  // padding: 190px 165px;
  justify-content: space-between;
  
}
  
.hero-title {
  // flex: 1;
  color: $white;
  display: flex;


  
  h1 {
    /* MODERN ART GALLERY */
    margin: 0;
    font-family: $font-headings;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
  }
}

.hero-action {
  // flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {

    margin: 0;
    max-width: 350px;
    color: $dark-grey;
    font-family: $font-paragraph;
    font-style: normal;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 4rem;

  }

  .location-btn {
    display: flex;
    align-items: center;
    border: none;
    flex-direction: row;
    height: 72px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0;
    transition: background 0.2s;
    padding: 0;
    // padding: 1.5rem 0rem;
    background: $black;
    font-family: $font-headings;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 3.64px;
    
    div.text {
      color: $white;
      padding: 0 1.5rem;
    }

    div.arrow {
      display: flex;
      background: $gold;
      color: $white;
      align-items: center;
      justify-content: center;   
      height: 100%;
      width: 56px;
    }

    &:hover, &:focus {
      background: $gold;
      outline: 1px solid $black;
      color: $black;
      
      div.arrow {
        background: $black;
        color: $gold;
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    width: 100vw;
    height: 20vh;
    position: static;
    h1 {
      margin-left: 2vw;
      font-size: 2.5rem;
    }
  }
  main {
    flex-direction: column;
    margin-left: 0;
    align-items: stretch;
  }
  .gallery-image, .gallery-info {
    flex: none;
    padding: 2rem 0;
    align-items: center;
    text-align: center;
  }
  .gallery-info {
    padding-left: 0;
    p {
      margin: 0 auto 2rem auto;
    }
  }
}
